@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* connect Next.js font to Tailwind */
  --font-sans: var(--font-bricolage);

  /* custom colours */
  --color-custom1: #FFFFFF;
  --color-custom2: #F9E6D0;
  --color-custom3: #00373E;
  --color-custom4: #F7F6F4;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage);
}
